<%= form_for @locator, :url => { :controller => :locators, :action => :create } do |f| -%>
  <%= f.label     'Paste you url:' %>
  <%= f.text_area :url %>
  <%= f.submit    'Generate' %>
<% end -%>

<br />
<% raise flash[:sucsess].inspect %>
<% if flash[:success] -%>
  <h3> Success! Your URL is now: </h3>
  <% actual_link = (%{%s%s/%s} % [ request.protocol, request.host_with_port, flash[:success] ]) -%>
  <%= link_to actual_link, actual_link, :target => '_blank' %>
<% end -%>
