<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print.css", :media =>"print" %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag "blueprint/ie.css", :media =>"screen, projection" %>
  <![endif]-->
  
</head>
<body>

<div class="container">
  <div class="span-2 prepend-2 append-2"> &nbsp; </div>  
  <div class="span-8 prepend-2 append-2"> <h1>URL Shortener</h1> </div>
  <div class="span-2 prepend-2 append-2 last"> &nbsp; </div>


  <div class="span-24 last">&nbsp;</div>

  <div class="span-2 prepend-2 append-2">&nbsp;</div>  
  <div class="span-8 prepend-2 append-2"> <%= yield %> </div>
  <div class="span-2 prepend-2 append-2 last"> &nbsp; </div>
</div>

</body>
</html>
